body {
    background-image: url('../img/blue-texture.jpg');
    background-color: #cccccc;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.transparent {
    opacity: 0.5;
    background: none repeat scroll 0 0 #ffffff;
    color: #333333;
}

div#header {
    padding: 25px;
}

.header-base-left{
    padding-left: 10%;
    padding-right: 50%;
}

.header-base-right{
    padding-left: 85%;
}

a#header-sh-manager-link{
    font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 32px;
    color: #000000;
    text-decoration: none;
}

.text-field {
    padding: 3px 8px;
    line-height: 1.38em;
    color: #666666;
    width: 100%;
    border: 1px solid #91cfee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-field:focus {
    border: 1px solid #455cee;
}

.button-no-style {
    color: blue;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: sub;
}

.button-no-style:active {
    color: #00008b;
}

.header-login {
    color: #333333;
    font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
    font-weight: normal;
    padding-top: 40px;
}

.bottom-info {
    color: #333333;
    font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 12px;
    padding-top: 5px;
}

.error {
    background-color: #F99;
    background-color: rgba(255, 153, 153, 0.6);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #E70800;
    padding: 0.2em 0;
    margin: 0.5em 0;
}

.hidden {
    display: none;
}

.ui-widget {
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size: 1em;
}

.ui-state-error {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.75em;
    padding: 0.5em;
    color: #CD0A0A;
}

#register-new-link{

}

#login-link{

}

#logout-link{

}
